<h2>Filtered Blogs</h2>
<button
  {{#if isArray}}class="selected"{{/if}}
>
  <a href="/arrays">Arrays</a>
</button>
<button
 {{#if isFunctions}}class="selected"{{/if}}>
  <a href="/functions">Functions</a>
</button>
<button
 {{#if isString}}class="selected"{{/if}}>
  <a href="/strings">Strings</a>
</button>
<div class="container">

  {{#each filteredBlog}}
    <div class="center">

      <h3>
        <a href="blog/{{_id}}">

          {{title}}
        </a>
      </h3>
      <h5>{{problemStatement}}</h5>

    </div>

  {{/each}}
</div>