<h2>Blogs</h2>
<p>
  <a href="blogs/create">Add new blog</a>
</p>
<button>Arrays</button>
<button>Functions</button>
<button>Numbers</button>
<div class="container">

  {{#each blogs}}
    <div class="center">

      <h3>
        <a href="blog/{{_id}}">

          {{title}}
        </a>
      </h3>
      <h5>{{problemStatement}}</h5>

    </div>

  {{/each}}
</div>