<h2>New Blog</h2>

<form action="/blogs/create" method="post" enctype="multipart/form-data">
  <div class="mb-3">

    <input placeholder="title" id="title" name="title" />
  </div>
  <div class="mb-3">
    <input
      placeholder="problemStatement"
      id="problemStatement"
      name="problemStatement"
    />
  </div>
  <div class="mb-3">
    <input placeholder="solution" id="solution" name="solution" />
  </div>

  <div class="mb-3">
    <label>Code Snippet:

      <input
        type="file"
        placeholder="Code Snippet"
        id="imageUrl"
        name="imageUrl"
      />
    </label>
  </div>

  <div class="mb-3">
    <input placeholder="mdnDocs" id="mdnDocs" name="mdnDocs" />
  </div>

  {{! <div class="mb-3">
    <input placeholder="tags" id="tags" name="tags" />
  </div> }}

  <fieldset>
    <legend>Choose your blogs's tags:</legend>

    <div>
      <input type="checkbox" id="Arrays" name="tags" value="Arrays" />
      <label for="Arrays">Arrays</label>
    </div>

    <div>
      <input type="checkbox" id="Strings" name="tags" value="Strings" />
      <label for="Strings">Strings</label>
    </div>
    <div>
      <input type="checkbox" id="Functions" name="tags" value="Functions" />
      <label for="Functions">Functions</label>
    </div>
  </fieldset>

  <button type="submit">Add</button>
</form>