<h2> Welcome to your profile</h2>

<h4>Your blogs</h4>

{{#each blogs}}
  <div class="center">

    <h3>
      <a href="blog/{{_id}}">

        {{title}}
      </a>
    </h3>
    <h5>{{problemStatement}}</h5>

  </div>

{{/each}}