body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1,
h2 {
  text-align: center;
  margin-top: 100px;
}

.btn-group-wrap {
  text-align: center;
  padding-bottom: 20px;
}

.selected {
  background-color: #008cba;
}

.navbar {
  padding: 20px;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.submitBtn {
  margin-top: 15px;
}
