<h2>Blogs</h2>
<button>
  <a href="/arrays">Arrays</a>
</button>
<button>
  <a href="/functions">Functions</a>
</button>
<button class="selected">
  <a href="/strings">Strings</a>
</button>
<div class="container">

  {{#each stringsBlogs}}
    <div class="center">

      <h3>
        <a href="blog/{{_id}}">

          {{title}}
        </a>
      </h3>
      <h5>{{problemStatement}}</h5>

    </div>

  {{/each}}
</div>